/* Estilos genesrales*/
.form-general{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.boton{
    color: white;
    width: 10%;
    height: 5%;
}
.b-crear{
    background-color: rgb(41, 82, 136);
    margin-bottom: 10px;
}
.btn-redomdo{
    width:40px;
    height:40px;
    margin: 5px;
    border-radius: 50px;
    float: right;
}
.btn-redomdo i{
    float: auto;
    margin-right: 5px;
}
.b-eliminar{
    background-color:  rgb(136, 41, 41);
}
.b-editar{
    background-color:  rgb(44, 136, 41);
}
.encabezado{
    display: flex;
    justify-content: space-between;
}
.atras{
    color: rgb(41, 82, 136);
    width: auto;
    height: 30px;
}
.acction{
    width: 12%;
}
.margin_chekbox{
    margin-left: 50px;
}
